.grid-container {
  background-image: url(/Image/Ayurvedic-herbal-tea-1-2048x1253.webp);
}
.gallery {
  background-color: #1d4934;
  color: white;
  padding: 20px;
  border: 20px;
  margin: 30px;
  border-radius: 15px;
  text-align: center;
}
.gallery h3 {
  font-size: 1.5em;
}
.gallery .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.gallery img {
  width: 375px;
  border-radius: 10px;
}
.section img{
    max-height: 375px;
}
@media screen and (max-width: 768px) {
  .images {
    flex-direction: column;
  }
  .images img {
    width: 100%;
  }
}
